<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolzApp</title>
    <link rel="icon" href ="img/icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <div class="container aligner">

        <div id="root" class="app" @click="cleanDrops()">
            <!-- Inizio Sezione Contatti -->
            <section class="contacts">

                <!-- Inizio Header Contatti -->
                <header class="aligner">

                    <div class="user">
                        <img src="img/avatar_8.jpg" alt="Avatar User">
                        <h3>Pinko Pallo</h3>
                    </div>

                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </header>
                <!-- Fine Header Contatti -->

                <!-- Inizio Sezione Setup delle Notifiche -->
                <section class="notifications aligner" :class="hidingClass">

                    <span class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </span>

                    <div class="notifications-set">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#" @click="hideThis()">Attiva notifiche desktop</a>
                    </div>

                </section>
                <!-- Fine Sezione Setup delle Notifiche -->

                <!-- Inizio Main -->
                <main>

                    <div class="contacts-container">

                        <!-- Inizio Sezione Search -->
                        <section class="search">
                            <div class="input-container aligner">
                                <i class="fas fa-search"></i>
                                <input v-model="contactToFind" @keyup="find(contactToFind)" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </section>
                        <!-- Fine Sezione Search -->

                        <!-- Inizio Lista Contatti -->
                        <section class="user-contacts">
                            <ul class="contacts-list">

                                <li v-for="(contact, index) in contacts" @click="giveIndex(index); addClassActive()" v-if="contact.visible == true" class="aligner" :class="{active : contacts[index].isActive}">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" alt="avatar">
                                    <div class="contact-info">
                                        <h3>{{ contact.name }}</h3>
                                        <span class="last-msg">{{contact.messages[contact.messages.length - 1].text}}</span>
                                    </div>
                                    <span class="time">{{contact.messages[contact.messages.length - 1].date}}</span>
                                </li>

                            </ul>
                        </section>
                        <!-- Fine Lista Contatti -->

                    </div>

                </main>
                <!-- Fine Main -->

            </section>
            <!-- Fine Sezione Contatti -->

            <!-- Inizio Sezione Chat -->
            <section class="chat">

                <!-- Inizio Chat Header -->
                <header class="aligner">

                    <div class="user">
                        <img :src="`img/avatar${contacts[indexOfContact].avatar}.jpg`" alt="Avatar User">
                        <div class="user-info">
                            <h3>{{ contacts[indexOfContact].name }}</h3>
                            <p>Ultimo accesso oggi {{contacts[indexOfContact].messages[contacts[indexOfContact].messages.length - 1].date}}</p>
                        </div>
                    </div>

                    <div class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </header>
                <!-- Fine Chat Header -->

                <!-- Inizio Chat Content -->
                <main>

                    <div v-for="(message, index) in contacts[indexOfContact].messages"
                    class="msg"
                    :class="`${contacts[indexOfContact].messages[index].status}-msg`">
                        <div class="msg-cloud">

                            <span>{{ message.text }}</span>

                            <span class="arrow hide"
                            :class="{ right : (contacts[indexOfContact].messages[index].dropdown) }"
                            @click.stop="cleanDrops()"
                            @click="showDropdown(index)">
                                <i class="fas fa-chevron-down"></i>
                            </span>

                            <span class="time">{{ message.date }}</span>

                            <!-- Dropdown Menu -->
                            <ul v-if="contacts[indexOfContact].messages[index].dropdown"
                            class="dropdown">

                                <li>
                                    Message info
                                </li>

                                <li @click="removeMsg(index)">
                                    Delete Message
                                </li>

                            </ul>
                            <!-- Fine Dropdown Menu -->

                        </div>



                    </div>

                </main>
                <!-- Fine Chat Content -->

                <!-- Inizio Messenger -->
                <section class="messenger aligner">

                    <i class="far fa-smile"></i>
                    <input v-model="newMessage" @keyup.enter="addMsg()" type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>

                </section>
                <!-- Fine Messenger -->

            </section>
            <!-- Fine Sezione Chat -->

        </div>

    </div>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js" charset="utf-8"></script>
</body>

</html>
